/*********************************************************
  WHOLE PAGE
**********************************************************/

body {
  margin: 0px;
}


/*********************************************************
  TOP SECTION OF PAGE
**********************************************************/

#header {
  background-color: #333;
  clear: both;
}

#controls {
  padding: 10px;
  background-color: #eee;
  height: 100px;
  clear: both;
}

#controls-left {
  float: left;
  padding: 5px;
}

#controls-right {
  overflow: hidden;
  height: 90px;
}

#controls-center {
  float: left;
  padding: 5px;
}

#logo {
  float:left;
}
/* Alex K Changes */
.row {
  margin-bottom: 20px;
}

#logo-img {
  margin-left: 5px;
  padding-left: 5px;
  height: 20px;
}

#info-img {
  margin-left: 25px;
  height: 20px;
}

/* Alex K Changes End */

.gnu-img {
  height: 30px;
}

#title {
  float: left;
  margin-left: 10px;
  color: #eee;
  font-weight: bold;
}

#rowOneLeft {
}

.col-sm-6 {
  overflow: hidden;
  height: 90px;
}

.col-md-6 {
  margin-left: 400px;
  min-width: 300px;
  width: 50%;
}

#rowOne {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 300px;
  margin-bottom: 5px;
  flex-flow: row wrap;
}

.btn {
    height: 15px;
}

#btnCopy {
    width: 25px;
    height: 15px;
}

#rowOneLeft {
}

.col-sm-6 {
  overflow: hidden;
  height: 90px;
}

.col-md-6 {
  margin-left: 400px;
  min-width: 300px;
  width: 50%;
}

#rowOne {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 300px;
  margin-bottom: 5px;
  flex-flow: row wrap;
}

.btn {
    height: 15px;
}

#btnCopy {
    width: 25px;
    height: 15px;
}

#copyPng {
    height: 15px;
}

.curl {
  font-size: 8pt;
  height: 20px;
}

/*********************************************************
  DATA TABLE
**********************************************************/

.jsonTable {
}

.jsonHeader {

}

.jsonColumn {
  background-color: #ddd;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.jsonRow {

}

.jsonOdd {
  background-color: #fefefe;
}

.jsonEven {
  background-color: #efefef;
}

/*********************************************************
  MAP
**********************************************************/

.map-listing-detail-title {
  font-weight: bold;
}

#map1 {
  position: absolute;
  height: 300px;
  width: 400px;
}

.the-map {
  position: absolute;
  height: 300px;
  width: 400px;
}

.leaflet-container {
  position: absolute;
}

/*********************************************************
  PLOTS
**********************************************************/


.rd3-basic-chart {
  margin-left: 55px;
  margin-right: 55px;
}

.plots-empty {
  background-color: #eee;
  width: 400px;
  height: 300px;
  padding: 10px;
  margin-left: 405px;
}

.Plots {
  width: 500px
}

.rd3-chart {
  font-size: 8pt;
}

.plots-empty-title {
  text-align: center;
  font-size: 16pt;
  font-weight: bold  
}

.plots-empty-title2 {
  font-size: 14pt;
}














/*********************************************************
  SLIDER
**********************************************************/

.slider {
  margin-bottom: 5px;
  margin-left: 10px;
  width: 175px;
  height: 40px;
}
.slider_vals {
  height: 20px;
  line-height: 25px;
}
.slider_outer {
  height: 40px;
}
.slider_label {
  font-size: 8pt;
}






.rc-slider {
  position: relative;
  height: 4px;
  width: 100%;
  border-radius: 6px;
  background-color: #e9e9e9;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  background-color: #abe2fb;
  z-index: 1;
}
.rc-slider-handle {
  position: absolute;
  margin-left: -7px;
  margin-top: -5px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  border-radius: 50%;
  border: solid 2px #96dbfa;
  background-color: #fff;
  z-index: 2;
}
.rc-slider-handle:hover {
  border-color: #57c5f7;
}
.rc-slider-handle-active:active {
  border-color: #57c5f7;
  box-shadow: 0 0 5px #57c5f7;
}
.rc-slider-mark {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  font-size: 12px;
  z-index: 3;
}
.rc-slider-mark-text {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  color: #999;
}
.rc-slider-mark-text-active {
  color: #666;
}
.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 4px;
  background: transparent;
  z-index: 1;
}
.rc-slider-dot {
  position: absolute;
  top: -2px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border: 2px solid #e9e9e9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
}
.rc-slider-dot:first-child {
  margin-left: -4px;
}
.rc-slider-dot:last-child {
  margin-left: -4px;
}
.rc-slider-dot-active {
  border-color: #96dbfa;
}
.rc-slider-disabled {
  background-color: #e9e9e9;
}
.rc-slider-disabled .rc-slider-track {
  background-color: #ccc;
}
.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
  border-color: #ccc;
  background-color: #fff;
  cursor: not-allowed;
}
.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
  cursor: not-allowed !important;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: block !important;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
  -webkit-animation-name: rcSliderTooltipZoomDownIn;
          animation-name: rcSliderTooltipZoomDownIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
  -webkit-animation-name: rcSliderTooltipZoomDownOut;
          animation-name: rcSliderTooltipZoomDownOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
          animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}
.rc-slider-tooltip-zoom-down-leave {
  -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
          animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
@-webkit-keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@keyframes rcSliderTooltipZoomDownIn {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
  100% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}
@-webkit-keyframes rcSliderTooltipZoomDownOut {
  0% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
}
@keyframes rcSliderTooltipZoomDownOut {
  0% {
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
}
.rc-tooltip {
  position: absolute;
  left: -9999px;
  top: -9999px;
  z-index: 4;
  visibility: visible;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-tooltip * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-tooltip-hidden {
  display: none;
}
.rc-tooltip-placement-top {
  padding: 4px 0 8px 0;
}
.rc-tooltip-inner {
  padding: 6px 2px;
  min-width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #6c6c6c;
  border-radius: 6px;
  box-shadow: 0 0 4px #d9d9d9;
}
.rc-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.rc-tooltip-placement-top .rc-tooltip-arrow {
  bottom: 4px;
  left: 50%;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #6c6c6c;
}



.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}





/*********************************************************
  URL SUBMIT BOX
**********************************************************/


.box {
  width:300px;
}
#btnSubmit {
  padding: 5px;
}
#urlbox {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #999;
  border-radius: 4px;
}
.alertbox {
  width: 325px;
  margin-top: 10px;
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
  border-radius: 4px;
  text-align: center;
}
.waiting {
  background-color: #eef;
}
.thanks {
  background-color: #efe;
}
.error {
  background-color: #fee;  
}